# {{ ansible_managed }}

{% for domain in dkim_domains %}
{{ domain.selector }}._domainkey.{{ domain.name }} {{ domain.name }}:{{ domain.selector }}:/etc/opendkim/keys/{{ domain.name }}/{{ domain.selector }}.private
{% endfor %}
