UMask                   002
Syslog                  yes
SyslogSuccess           Yes
LogWhy                  Yes
{% if dkim_report_recipient is defined
  and dkim_report_recipient | trim != '' %}
ReportAddress           {{ dkim_report_recipient }}
{% endif %}
Canonicalization        relaxed/simple

ExternalIgnoreList      /etc/opendkim/TrustedHosts
InternalHosts           /etc/opendkim/TrustedHosts
KeyTable                /etc/opendkim/KeyTable
SigningTable            refile:/etc/opendkim/SigningTable

Mode                    sv

UserID                  opendkim:opendkim

Socket                  inet:{{ dkim_milter_port }}@localhost
