{% for domain in dkim_domains %}
*@{{ domain }} {{ dkim_selector }}._domainkey.{{ domain }}
{% endfor %}

{% if dkim_wildcard_sign_all_with_domain is defined
  and dkim_wildcard_sign_all_with_domain in dkim_domains %}
* {{ dkim_selector }}._domainkey.{{ dkim_wildcard_sign_all_with_domain }}
{% endif %}
